<div class="container py-4" data-controller="/js/unidad-medida.js">
    <a href="#" class="btn btn-outline-secondary btn-sm mb-2" data-back>← Volver</a>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="h4 mb-0">Unidades de medida</h2>
    </div>

    <button class="btn btn-primary mb-3" id="btnNuevoUnidadMedida">Nueva unidad de medida</button>

    <table class="table table-striped table-responsive-xxl">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="data-unidades-medida"></tbody>
    </table>
    <div id="pagination-unidades-medida" class="mt-2"></div>
</div>
